In [ ]:
# zen of python
import this

In [ ]:
help(print)

# Print Topic cover

with function
print with cell

# Variables and Data types

In [3]:
name = "Mark"

In [ ]:
print(name)

In [5]:
name = "Ace" #(Pick last one)

In [ ]:
print(name)

In [ ]:
name = "Muhammd Osama"
cnic = "42201-1234567-3"
registration_no = "2111-2018"

print("Student Registration Card")
print("Registration NO: ", registration_no)
print("Student Name :",name)
print("CNIC#: ", cnic)

# Data types List

int
float
string
boolean
list
dictionary
complex
tuple

In [ ]:
# String
name = "Muhammad Qasim muhammd aSlam"
print(name)
print("name.capitalize()", name.capitalize())
print("name.upper()", name.upper())
print("name.lower()", name.lower())

In [ ]:
dir(str)

In [ ]:
# for get type
a=10
b=20.5
c=[20,21,25,'ali']
d={'name':'qasim','fName':'Muhammd Aslam'}
e=(20,22,25,88,'ad',33)
print('name', type(name))
print('a', type(a))
print('b',type(b))
print('c',type(c))
print('d',type(d))
print('e',type(e))

# Operators

In [ ]:
operation
oprand
opratos

In [2]:
Operation = 2 + 5 

Operator +

oprands = 2 and 5

In [ ]:
1. + (addtion)
2. - (Subtraction)
3. * (Multiplycation)
4. / (Division)
5. % (Modulus)
6. = (Assign)
7. == (Comparison)
8. === (comparision with value and data type)
8. >
9. <
10. <>, !=
11. <=
12. >=
13. &
14. || ()
15. **
16. //
17. +=
18. =+
19. -=
20. =-
21. ++
22. --

In [ ]:
2+5

In [ ]:
'1'+'1'

In [ ]:
#it takes only string
"Value a is: "+a

In [ ]:
"Value a is: "+ str(a)

In [ ]:
#assgin str to int
int('1') + int('1')

In [ ]:
2+20-7*50/80

In [ ]:
#har variable jo position kay hisab say assign hoga"
a,b,c,d=10,20,50,60
print(d)

In [ ]:
name, cnic, reg ='Qasim','222','123'
name

In [ ]:
name = "        Muhammad Qasim       Muhammad Aslam   "
name

In [12]:
#left strip
name.lstrip()

In [ ]:
name.rstrip()

In [ ]:
name.strip()

In [ ]:
newname = name.split()
newname[0] + " "+ newname[1] + " "+ newname[2] + " " + newname[3]

# List

list definiton
insert, append
pop, del, remove
"+" concatination
slicing

In [ ]:
cities = ["Atlanta", "Baltimore", "Chicago","Denver", "Los Angeles", "Seattle"]

In [ ]:
cities

In [ ]:
cities[3]

In [ ]:
cities[-2]

In [ ]:
cities.append("Karachi")
cities

In [ ]:
cities.append(47.7)

In [ ]:
type(cities)

In [ ]:
nlist=["Dubuque", "New Orleans"]
cities = cities + nlist
cities

In [ ]:
cities.extend(['a','b'])

In [ ]:
cities.insert(3,"Karachi")
cities

In [ ]:
cities.insert(30,'Lahore')

In [ ]:
cities[3] = "KHI"
cities

# Slicing
- list[start:end:step]
    - start (inclusive)
    - end (exclusive)
    - step (number of element which we will take)

- list[slide,rows,columns] (we will cover from next book)

In [ ]:
cities
del cities[9]

cities

In [ ]:
for i in range(2,8):
    print(cities[i])

In [ ]:
for city in cities:
    print(city)

In [ ]:
l = list(range(0,101))
l

In [ ]:
l[10:15]

In [ ]:
l[5:20:2]

In [ ]:
l[5:50:5]

In [ ]:
l[3:31:3]

In [ ]:
l[-11:101]

In [ ]:
l2=l[5:11]
l2

In [ ]:
l2[0]

In [ ]:
l2[0]=500
l2

In [ ]:
l3=l2
l3

In [ ]:
l3[0]=1000
l2

In [ ]:
l4=l3.copy()
l4[0]=2000
print(l4)
l3

In [ ]:
l[90:]

In [ ]:
l[:5]

In [ ]:
cities[2:8]

In [ ]:
l[1::3]

# Lists: Taking slices out of them

In [ ]:
cities = ["Atlanta", "Baltimore", "Chicago","Denver", "Los Angeles", "Seattle"]
cities

In [ ]:
maller_list_of_cities = cities[2:5]
smaller_list_of_cities

# 18 Lists: Deleting and removing elements

In [ ]:
tasks = ["email Frank", "call Sarah", "meet with Zach"]
tasks

In [ ]:
del tasks[0]
tasks

In [ ]:
cities.append('Chicago')
print(cities)

In [ ]:
cities.remove("Chicago")
cities

# 19 Lists: popping elements

In [ ]:
tasks = ["email Frank", "call Sarah", "meet withZach"]
tasks

In [ ]:
latest_task_accomplished = tasks.pop(1)
print(latest_task_accomplished)

In [ ]:
tasks_accomplished=[]
tasks_accomplished.append(tasks.pop(1))

tasks_accomplished

In [ ]:
names = ["Qasim","Owais","Hamza","Junaid","Rashid","Konain"]
names

In [ ]:
names.append("Ali")
names

In [ ]:
names.insert(1, "Imran Khan")
names

In [ ]:
del names[5]
names

In [ ]:
select_students=[]

In [ ]:
select_students.append(names.pop(3))
names

In [ ]:
select_students

In [ ]:
select_students.append(names.pop())
names

In [ ]:
select_students

In [ ]:
cities

In [ ]:
cities=cities+['Atlanta',"Karachi",'Atlanta']
cities

In [ ]:
cities.count("Atlanta")

In [ ]:
cities.index("Atlanta",2)

In [ ]:
cities.reverse()
cities

In [ ]:
cities.sort()
cities

# Topic covers
- operator
- if
- else
- elif
- and, or,
- dictionary, keys: values, del ...

# comparison

In [ ]:
5 == 5 
#equal

In [ ]:
4==3 
#equal

In [ ]:
4 != 3 
#notequal

In [ ]:
5>6 
#greater than

In [ ]:
5 >= 5 
# greater then equal

In [ ]:
6<7 
#less then

In [ ]:
4 <= 3
# Less then equal

In [ ]:
day = 15
if day==14:
    print("pakistan")
else:
    print("India")

# Chapter 9

In [ ]:
species = "cat"

if species == "cat":
    print("Yep, it's cat.")

In [ ]:
if species == "cat":
 print("Yep, it's cat.")

In [ ]:
species = "mouse"

if species == "cat":
 print("Yep, it's cat.")

In [ ]:
day = 16

if day == 16:
    print("Pakistan zinda bad")
    print("Jashne Azadi Mubarukh")
    print("We love our country")
    
print("Pakistani....")

In [ ]:
a=2+2
if a  == 4:
    print("Everything makes sense.")

In [ ]:
number_of_wifs = 1

if number_of_wifs == 1:
    print("So far so good.")
    print("Congratulations.")
    print("All done")

# Chapter 11 else and elif statements

In [ ]:
if species == "cat":
 print("Yep, it's cat.")
if species != "cat":
 print("Nope, not cat.")

In [ ]:
species = 'cat'
if species == 'cat':
    print('Yep, it\'cat.')
else:
    print("Nope, not cat.")

In [ ]:
per = 70

In [ ]:
if per >= 0:
    print("FAIL")
elif per >=50:
    print("C")
elif per >=60:
    print("B")
elif per >= 70:
    print("A")
elif per >=80:
    print("A+")

In [ ]:
if per >= 0 and per <50:
    print("FAIL")
elif per >=50 and per<60:
    print("C")
elif per >=60 and per < 70:
    print("B")
elif per >= 70 and per <80:
    print("A")
elif per >=80 an

In [17]:
user = 'm.qasim077@gmail.com' # name, cell 03152968211 , email: m.qasim077@gmail.com
password = '13'

if (user=='qasim' or user=='03152968211' or user=='m.qasim077@gmail.com') and password=='123':
    print("VAlid user")
else:
    print("NOt valid")

NOt valid